{% load static%}

<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh@0.0.3"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl@2.0.0-rc.4/dist/tf-backend-webgl.es2017.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
    <script async src="{% static 'extrafiles/opencv.js' %}" onload="onOpenCvReady();" type="text/javascript"></script>
    <script async src="{% static 'extrafiles/annotations.js' %}" onload="onOpenCvReady();"
        type="text/javascript"></script>
</head>
<header>
    <div id="Header">
        <h1 class="MainHeader">
            VIRTUAL MAKEUP ASSISTANT
        </h1>
    </div>
</header>

<body style="height: 100%;">
    <div class="row mainpage">
        <div class="column">
            <nav class="mainpanel">
                <div class="nav nav-tabs" id="nav-tab" role="tabs">
                    <button class="nav-link button active mainbutton" onClick="myFunction(this.id)" id="Looks"
                        data-bs-toggle="tab" data-bs-target="#nav-home " type="button" role="tab"
                        aria-controls="nav-home" aria-selected="true">Looks</button>
                    <button class="nav-link button mainbutton" onClick="myFunction(this.id)" id="Lips"
                        data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                        aria-controls="nav-home" aria-selected="true">Lips</button>
                    <button class="nav-link button mainbutton" onClick="myFunction(this.id)" id="Eyes"
                        data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                        aria-controls="nav-home" aria-selected="true">Eyes</button>
                    <button class="nav-link button mainbutton" onClick="myFunction(this.id)" id="Face"
                        data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                        aria-controls="nav-home" aria-selected="true">Face</button>
                </div>
            </nav>
            <div id="lipspage">
                <nav class="panel">
                    <div class="nav nav-tabs subclassnav" id="nav-tab" role="tabs">
                        {% for lipobject in liplist %}
                        <!-- <a href="{% url 'profile' forloop.counter0  %}" id = {{lipobject.name}} class="nav-link button"  type="button" role="tab">{{lipobject.name}}</a> -->
                        <button class="nav-link button subbutton" onClick="Panel(this.id)" id={{lipobject.name}}
                            class="nav-link button" type="button" role="tab">{{lipobject.name}}</button>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div id="eyespage">
                <nav class="panel">
                    <div class="nav button nav-tabs subclassnav" id="nav-tab" role="tabs">
                        {% for eyesobject in eyeslist %}
                        <!-- <a href="{% url 'profile' forloop.counter0  %}" id = {{lipobject.name}} class="nav-link button"  type="button" role="tab">{{lipobject.name}}</a> -->
                        <button class="nav-link button subbutton" onClick="Panel(this.id)" id={{eyesobject.name}}
                            class="nav-link button" type="button" role="tab">{{eyesobject.name}}</button>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div id="facepage">
                <nav class="panel">
                    <div class="nav button nav-tabs subclassnav" id="nav-tab" role="tabs">
                        {% for faceobject in facelist %}
                        <!-- <a href="{% url 'profile' forloop.counter0  %}" id = {{faceobject.name}} class="nav-link button"  type="button" role="tab">{{faceobject.name}}</a> -->
                        <button class="nav-link button subbutton" onClick="Panel(this.id)" id={{faceobject.name}}
                            class="nav-link button" type="button" role="tab">{{faceobject.name}}</button>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div id="lookspage">
                <nav class="panel">
                    <div class="nav button nav-tabs subclassnav" id="nav-tab" role="tabs">
                        {% for looksobject in lookslist %}
                        <button class="nav-link button subbutton" onClick="Panel(this.id)" id={{looksobject.name}}
                            class="nav-link button" type="button" role="tab">{{looksobject.name}}</button>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div id="destcontainer"></div>
        </div>
        <div class="column">
            <div class="containervideo">
                <canvas class=canvasobject id="output" height="400px" width="300px"></canvas>
                <canvas class=canvasobject id="detect" height="400px" width="300px"></canvas>
                <canvas class=canvasobject id="opencvoutput" height="400px" width="300px"></canvas>
                <video id="videoElement" playsinline style="
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        visibility: hidden;
                        width: 400px;
                        height: 300px;
                        ">
                </video>
            </div>
            <p id="errorblock"></p>

        </div>
    </div>
</body>
<footer class="parallax">

</footer>

</html>

<script>
    function onOpenCvReady() {
        console.log("ccv loaded")

    }

    var lipspage = document.getElementById("lipspage");
    var eyespage = document.getElementById("eyespage");
    var facepage = document.getElementById("facepage");
    var lookspage = document.getElementById("lookspage");

    lipspage.style.display = "none";
    eyespage.style.display = "none";
    facepage.style.display = "none";
    lookspage.style.display = "none";

    var selectedpage = "none";

    function myFunction(clicked) {
        if (selectedpage != "none") {

            document.getElementById(selectedpage).style.display = "none"
            document.getElementById("destcontainer").style.display = "none"
        }
        if (clicked == "Looks") {
            lookspage.style.display = "block";
            selectedpage = "lookspage"

        }
        else if (clicked == "Lips") {
            lipspage.style.display = "block";
            selectedpage = "lipspage"
        }

        else if (clicked == "Eyes") {
            eyespage.style.display = "block";
            selectedpage = "eyespage"
        }
        else if (clicked == "Face") {
            facepage.style.display = "block";
            selectedpage = "facepage"
        }
    }
</script>

<script>
    var colors, x, name;
    // console.log("index.html")
    let index = 0
    const destcontainer = document.getElementById("destcontainer")
    function Panel(clickedid) {


        // console.log(clickedid)
        callpost(clickedid)
    }
    function callpost(inputname) {
        name = inputname
        // console.log("callpost")
        document.getElementById("destcontainer").style.display = "block"
        colors = []
        x = ""
        $.ajax({
            type: 'GET',
            // url:'/subclass/{{liplist.1.name}}',
            url: '/subclass/' + selectedpage + "/" + name,
            success: function (response) {
                // console.log("sfahjk")
                const object = response.object
                // console.log(object)
                // console.log(object[0].name)
                const imgurl = object[0].dest
                // console.log(object[0].colors)

                for (const [key, value] of Object.entries(object[0].colors)) {
                    colors.push(value.colorcode)
                    x += `<button class="btn btn-primary btn-circle btn-sm" onClick ="onColourClick(this.id)" id = "${value.colorcode}" style="background-color: ${value.colorcode};border-color:${value.colorcode};" ></button>`

                }
                // console.log(colors)
                destcontainer.innerHTML = `<div id="lipStick">
                                                <div class="nav nav-tabs" id="nav-tab" role="tabs">
                                                    <div class="container" id=  panelIndex>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="card" style="width: 150px;" (click)='displayColourLipstick(i)'>
                                                                    <img src="${imgurl}" width="150" height="230" class="card-img-top" alt="...">
                                                                    <div class="card-body">
                                                                        <p class="card-text">Revlon</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                           
                                                        <div class="xyz">`
                    + x +
                    `</div>
                                                    </div>
                                                </div>
                                            </div>`
            },
            error: function (error) {
                // console.log(error)
            }

        })
    }
</script>


<script>
    var partname;
    var selectedcolorcode = "none"
    function onColourClick(code) {
        partname = name
        // console.log("color clicked", code)
        selectedcolorcode = code;
    }
    var video_width = 300;
    var video_height = 400;

    var socket

    // try{    
    //  socket = new WebSocket("wss://www.krishnovate.tech:12345/echo");
    // var ws = new WebSocket("wss://www.asypher.tech:12345/echo");
    // }
    // catch(err)
    // {
    var socket = new WebSocket('ws://localhost:8099/websocket')
    // }
    function isMobile() {
        const isAndroid = /Android/i.test(navigator.userAgent);
        const isiOS = /iPhone|iPad|iPod/i.test(navigator.userAgent);
        return isAndroid || isiOS;
    }

    function drawPath(ctx, points, closePath) {
        const region = new Path2D();
        region.moveTo(points[0][0], points[0][1]);
        for (let i = 1; i < points.length; i++) {
            const point = points[i];
            region.lineTo(point[0], point[1]);
        }

        if (closePath) {
            region.closePath();
        }
        ctx.stroke(region);
    }

    let model, ctx, videoWidth, videoHeight, video, canvas, facemodel;



    const VIDEO_SIZE = 400;
    const mobile = isMobile();
    const state = {
        backend: 'webgl',
        maxFaces: 10,
        triangulateMesh: false
    };

    async function setupCamera() {
        video = document.getElementById('videoElement');
        const stream = await navigator.mediaDevices.getUserMedia({
            'audio': false,
            'video': {
                facingMode: 'user',
                width: mobile ? undefined : video_width,
                height: mobile ? undefined : video_height
            },
        });
        video.srcObject = stream;

        return new Promise((resolve) => {
            video.onloadedmetadata = () => {
                resolve(video);
            };
        });
    }



    const triangulateMesh = false;
    const facemeshplot = false;
    var flip;
    if (isMobile()) {
        flip = true;
    }
    let draw_canvas = document.getElementById('detect');
    let draw_context = draw_canvas.getContext('2d');
    let dest = new Image();

    var partcolorsdic = {
        "LipStick": "none",
        "Crease": "none",
        "LowerLashline": "none",
        "EyeBrows": "none"
    }
    async function renderPrediction() {
        var rendertime = "each render";

        const predictions = await model.estimateFaces(video);
        if (selectedcolorcode == "none") {
            ctx.drawImage(
                video, 0, 0, videoWidth, videoHeight, 0, 0, canvas.width, canvas.height);
        }
        if (selectedcolorcode != "none") {
            ctx.drawImage(
                video, 0, 0, videoWidth, videoHeight, 0, 0, canvas.width, canvas.height);

            if (predictions.length > 0) {
                predictions.forEach(prediction => {
                    const keypoints = prediction.scaledMesh;
                    if (facemeshplot) {
                        if (triangulateMesh) {
                            for (let i = 0; i < TRIANGULATION.length / 3; i++) {
                                const points = [
                                    TRIANGULATION[i * 3], TRIANGULATION[i * 3 + 1],
                                    TRIANGULATION[i * 3 + 2]
                                ].map(index => keypoints[index]);

                                drawPath(ctx, points, true);
                            }
                        }
                        else {
                            for (let i = 0; i < keypoints.length; i++) {
                                const x = keypoints[i][0];
                                const y = keypoints[i][1];

                                ctx.beginPath();
                                ctx.arc(x, y, 1 /* radius */, 0, 2 * Math.PI);
                                ctx.fill();
                            }
                        }
                    }

                    // console.log("sending code", selectedcolorcode)

                    if (partname != "") {
                        partcolorsdic[partname] = selectedcolorcode
                        // console.log("name=== ", partname)

                    }


                    data = canvas.toDataURL('dest/jpeg')
                    ctx.drawImage(dest, 0, 0, video_width, video_height);

                    // console.log("keypoints size", keypoints[0].length, keypoints[0])

                    // var tt = "keupoints"
                    // console.time(tt)
                    // var keypointsarr = []
                    // for (var i = 0; i < 468; i++) {
                    //     keypointsarr.push(Math.round(keypoints[i][0]))
                    //     keypointsarr.push(Math.round(keypoints[i][1]))
                    // }
                    // console.timeEnd(tt)
                    // console.log(annotations_dic)


                    // function hexToRgb(hex) {
                    //     // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
                    //     var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
                    //     hex = hex.replace(shorthandRegex, function (m, r, g, b) {
                    //         return r + r + g + g + b + b;
                    //     });

                    //     var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                    //     return result ? {
                    //         r: parseInt(result[1], 16),
                    //         g: parseInt(result[2], 16),
                    //         b: parseInt(result[3], 16)
                    //     } : null;
                    // }


                    // function makepartcoords(keypoints, part, hexcolor, h, w, anded) {
                    //     let temp = []
                    //     var outer = part + "Outer"
                    //     var inner = part + "Inner"
                    //     var chk = []
                    //     console.log("outer == ",outer)
                    //     // console.log(annotations_dic)
                    //     var outerdic = annotations_dic[outer]
                    //     // console.log("outerdic == ",outerdic)
                    //     for (var index = 0; index < outerdic.length; index++) {
                    //         chk.push(Math.round(keypoints[outerdic[index]][0]))
                    //         chk.push(Math.round(keypoints[outerdic[index]][1]))
                    //     }
                    //     var innerdic = annotations_dic[inner]
                    //     // console.log("innerdic == ",innerdic)
                    //     for (var index = innerdic.length - 1; index >= 0; index--) {
                    //         temp.push(Math.round(keypoints[innerdic[index]][0]))
                    //         temp.push(Math.round(keypoints[innerdic[index]][1]))
                    //     }
                    //     // temp = temp.reverse()
                    //     var concat = chk.concat(temp);
                    //     // console.log(concat)
                    //     anded = makepartmask(concat, hexcolor, h, w, anded)
                    //     return anded
                    // }

                    // function makepartmask(keypointsarr, hexcolor, h, w, anded) {
                    //     var R = hexToRgb("#0033ff").r
                    //     var G = hexToRgb("#0033ff").g
                    //     var B = hexToRgb("#0033ff").b


                    //     let mask = cv.Mat.zeros(h, w, cv.CV_8UC3);
                    //     let partcolor = new cv.Mat(h, w, cv.CV_8UC3, [R, G, B, 255]);
                    //     let square_points = cv.matFromArray(keypointsarr.length / 2, 1, cv.CV_32SC2, keypointsarr);
                    //     let pts = new cv.MatVector();
                    //     pts.push_back(square_points);
                    //     let color = new cv.Scalar(255);
                    //     cv.fillPoly(mask, pts, color);
                    //     cv.flip(mask, mask, 1)
                    //     cv.bitwise_and(partcolor, partcolor, anded, mask)
                    //     let ksize = new cv.Size(7, 7);
                    //     cv.GaussianBlur(anded, anded, ksize, 10, 10, cv.BORDER_DEFAULT);
                    //     cv.cvtColor(anded, anded, cv.COLOR_RGB2RGBA, 0)
                    //     mask.delete(); partcolor.delete(); pts.delete(); square_points.delete()

                    //     return anded
                    // }

                    // function partcolor(part, src, color, keypoints) {
                    //     var tr = "single"
                    //     console.time(tr)
                    //     if (part.includes("Lip")) {

                    //         console.log("contains ,")
                    //         listloop = ["upper" + partname, "lower" + partname]
                    //     }
                    //     else {
                    //         listloop = ["left" + partname, "right" + partname]
                    //     }
                    //     let anded = new cv.Mat();
                    //     anded = makepartcoords(keypoints,listloop[0], color, canvas.height, canvas.width, anded)

                    //     let anded1 = new cv.Mat();
                    //     anded1 = makepartcoords(keypoints, listloop[1], color, canvas.height, canvas.width, anded1)
                    //     cv.addWeighted(src, 1, anded, 0.4, 0, src);
                    //     cv.addWeighted(src, 1, anded1, 0.4, 0, src);
                    //     anded.delete();
                    //     anded1.delete();
                    //     console.timeEnd(tr)
                    //     return src
                    // }

                    // function colorallparts(partcolorsdic,src,keypoints)
                    // {
                    //     // console.log("pritningd dic")
                    //     console.log(partcolorsdic)
                    //     for (var key in partcolorsdic){
                    //         if(partcolorsdic[key] !=  "none")
                    //         {
                    //             // console.log("partname  == " , partcolorsdic[key])
                    //             src = partcolor(key, src, partcolorsdic[key], keypoints)
                    //         }
                    //     }
                    // }
                    // // let anded = new cv.Mat();
                    // anded = makepartcoords(keypoints, "lipsUpper", selectedcolorcode, canvas.height, canvas.width, anded)

                    // let anded1 = new cv.Mat();
                    // anded1 = makepartcoords(keypoints, "lipsLower", selectedcolorcode, canvas.height, canvas.width, anded1)

                    // var andedttotal =  cv.add(anded, anded1)
                    // let anded = new cv.Mat();
                    // let weighted = new cv.Mat();
                    // let imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);
                    // let src = cv.matFromImageData(imgData);
                    // var tr = "colorallparts"
                    // console.time(tr)
                    // colorallparts(partcolorsdic,src,keypoints)
                    // console.timeEnd(tr)
                    // let partcolor = new cv.Mat(canvas.height, canvas.width, cv.CV_8UC3, [200, 0, 0, 255]);



                    // let square_points = cv.matFromArray(keypointsarr.length / 2, 1, cv.CV_32SC2, keypointsarr);
                    // let pts = new cv.MatVector();
                    // pts.push_back(square_points);
                    // let color = new cv.Scalar(255);
                    // cv.fillPoly(mask, pts, color);
                    // cv.flip(mask, mask, 1)
                    // cv.bitwise_and(partcolor, partcolor, anded, mask)
                    // let ksize = new cv.Size(5, 5);
                    // cv.GaussianBlur(anded, anded, ksize, 0, 0, cv.BORDER_DEFAULT);
                    // cv.cvtColor(anded, anded, cv.COLOR_RGB2RGBA, 0)
                    // cv.addWeighted(src, 1, andedttotal, 0.4, 0, weighted);
                    // cv.addWeighted(src, 1, anded, 0.4, 0, src);
                    // cv.addWeighted(src, 1, anded1, 0.4, 0, src);
                    // cv.addWeighted(src, 1, anded, 0.4, 0, weighted);
                    // cv.addWeighted(src, 1, anded, 0.4, 0, weighted);

                    // cv.imshow('opencvoutput', src);

                    //  src.delete();
                    // mask.delete(); anded.delete(); weighted.delete(); src.delete(); partcolor.delete(); pts.delete(); square_points.delete()

                    var t1 = "on send"
                    console.time(t1)
                    try {

                        sendMessage(JSON.stringify({
                            'dest': data,
                            'keypoints': keypoints,
                            'color': selectedcolorcode,
                            'opacity': 0.5,
                            'videowidth': video_width,
                            'videoheight': video_height,
                            'part': partcolorsdic
                        }));
                    }
                    catch (err) {
                        document.getElementById("errorblock").innerHTML = err.message;
                        console.log("socket failed")
                        ctx.drawImage(
                            video, 0, 0, videoWidth, videoHeight, 0, 0, canvas.width, canvas.height);
                    }

                    console.timeEnd(t1)

                    socket.onmessage = function (e) {
                        var t = "on message"
                        console.time(t)
                        dest.onload = function () {
                            ctx.drawImage(dest, 0, 0, video_width, video_height);

                        };
                        console.timeEnd(t)
                        dest.src = e.data;
                        // drawCanvas();

                    };
                }
                );
            }

        }

        requestAnimationFrame(renderPrediction);
        //console.timeEnd(rendertime);
    };


    function sendMessage(message) {
        // //console.log(message);
        socket.send(message);
    }

    var createCookie = function (name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    async function main() {
        await tf.setBackend(state.backend);
        await setupCamera();
        video.play();
        videoWidth = video.videoWidth;
        videoHeight = video.videoHeight;
        video.width = videoWidth;
        video.height = videoHeight;

        canvas = document.getElementById('output');
        canvas.width = videoWidth;
        canvas.height = videoHeight;

        ctx = canvas.getContext('2d');
        ctx.translate(canvas.width, 0);
        ctx.scale(-1, 1);
        ctx.fillStyle = '#32EEDB';
        ctx.strokeStyle = '#32EEDB';
        ctx.lineWidth = 0.5;

        model = await facemesh.load({ maxFaces: 1, detectionConfidence: 0.7 });
        // facemodel = await blazeface.load();
        renderPrediction();
    };

    function sendMessage(message) {
        socket.send(message);
    }

    main();

</script>






<style>
    .xyz {
        padding-top: 20px;
        background-size: auto;
        margin-bottom: 60px;
    }

    .btn-circle.btn-sm {
        width: 36px;
        height: 36px;
        padding: 7px 10px;
        border-radius: 18px;
        font-size: 8px;
        text-align: center;
    }

    .parallax {
        /* The dest used */
        background-dest: url(/media/dests/bg2.jpg);

        /* Full height */
        height: 50%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .row {
        display: flex;
    }

    .row.mainpage {
        height: 600px;
    }

    .column {
        flex: 50%;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .containervideo {
        padding: 20%;
        width: 300px;
        height: 400px;
        display: inline-block;

    }

    .videoElement {
        width: 300px;
        height: 400px;
        background-color: #666;
    }

    .button {
        background-color: white;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button.active>button {
        background-color: green;
    }

    .subbutton {
        width: 30%;
    }

    .mainpanel {
        border-bottom: 3px solid #000000;
        /* margin-left: 50px;
    margin-top: 50px; */
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background: moccasin;
        border-bottom: 2px solid green;
    }

    .subclassnav .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background: moccasin;
        border-bottom: 2px solid green
    }

    .MainHeader {
        text-align: left;
        margin-left: 30px;
        font-family: fantasy;
        margin-top: 11px;
    }

    .panel {
        border-bottom: 1px solid gray;
        margin-top: 20px;
    }

    .row.mainpage {
        margin-left: 20px;
        margin-top: 20px;
    }

    .nav-tabs {
        width: 100%;
    }

    .mainbutton {
        width: 25%;
    }

    .containervideo {
        padding: 5%;
        width: 300px;
        height: 400px;
        margin-top: 100px;
        display: inline-block;
        background-color: darkslategray;
    }

    @media only screen and (max-device-width: 1366px) {
        .parallax {
            height: 50%;
            background-attachment: scroll;
        }


        .row.mainpage {
            height: 1000px;
        }

        .MainHeader {
            margin-top: 100px;
        }

        .canvasobject {
            width: 620px;
            height: 800px;
            margin-right: 50px;
        }

        .button {
            font-size: 30px;
        }

        .subbutton {
            font-size: 25px;
        }

        .containervideo {
            width: 450px;
            height: 700px;
        }

        .card-img-top {
            width: 200px;
            height: 350px;
        }

        .card-text {
            font-size: 25px;
        }


        .btn-circle.btn-sm {
            width: 60px;
            height: 60px;
            padding: 7px 10px;
            border-radius: 30px;
            font-size: 8px;
            text-align: center;
        }

    }
</style>